@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.glass {
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.4px);
  border: 1px solid rgba(255, 255, 255, 0.05);
}

::-webkit-scrollbar {
  width: 0.5px;
}

.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 0.5rem !important;
  color: black !important;
}

.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
  width: 100%;
  font-size: inherit !important;
  font-family: inherit !important;
  letter-spacing: 0;
  line-height: 0 !important;
  border: 1px;
}

.dark .css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
  color: white !important;
}

.dark .css-nxo287-MuiInputBase-input-MuiOutlinedInput-input ::placeholder {
  color: white !important;
}

.dark .css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
  border: 1px solid #A78BFA;
}

.dark .css-1yq5fb3-MuiButtonBase-root-MuiIconButton-root {
  color: white;
}